
*, *:before, *:after {box-sizing:  border-box !important;}


article.masonry-wrapper {
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -ms-column-width: 15em;
    -o-column-width: 15em;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
    -ms-column-gap: 0.5em;
    -o-column-gap: 0.5em;

}

section.masonry-item {
    display: inline-block;
    margin:  0.15rem;
    padding:  1rem;
    width:  100%;
    background:  #efefef;
}

