
*, *:before, *:after {box-sizing:  border-box !important;}


article.masonry-wrapper {
    -moz-column-width: 14em;
    -webkit-column-width: 14em;
    -ms-column-width: 14em;
    -o-column-width: 14em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    -ms-column-gap: 1em;
    -o-column-gap: 1em;

}

section.masonry-item {
    display: inline-block;
    margin-bottom:  0.8rem;
    /*padding:  1rem;*/
    width:  100%;
    background:  #efefef;
}

